.tusur-csp-tree(@widgetPath);

.tusur-csp-tree(@widgetPath) {
  @path-img: "@{widgetPath}/mk-widgets/tree/img";

  @sub-module-img-path: "@{module-img-path}/tree-img";

  @color-depend-line-border: #757575;
  @color-depend-line-border-active: #59a3d7;
  @color-active-node-text: #017fd8;

  .tusur-csp-tree-loader-bg {
	position: absolute;
	width: ~'calc(100% - 328px)';
	height: ~'calc(100% - 30px)';
	background: rgba(100, 100, 100, 0.6);
	z-index: 10;
	text-align: center;
	border-radius: 4px;
	//color: #f1f1f1;
	color: #fff;
	//font-weight: 600;
	//text-shadow: -1px 0 #636363, 0 1px #636363, 1px 0 #636363, 0 -1px #636363;

	img {
	  margin-top: 20%;
	  width: 50px;
	  height: 50px;
	  margin-bottom: 10px;
	}
  }

  .crudtree-tree-container {

	.crudtree-node {
	  position: relative;

	  > .crudtree-node-body {
		margin-left: 0.8em;
		position: relative;
		display: inline-block;
		border-radius: 4px;

		width: ~'calc(100% - 1.5em)';
		z-index: 3;

		.crudtree-node-manage-ico {
		  position: absolute;
		  left: -1.2em;
		  height: 100%;
		  width: 1em;
		  background-repeat: no-repeat;
		  background-position: 0 center;
		  background-size: 0.9em;
		  display: inline-block;
		  z-index: 2;

		  &.hide {
			background: none;
		  }
		}

		.crudtree-node-indicator {
		  width: 5px;
		  height: 5px;
		  position: absolute;
		  top: 0.6em;;
		  left: 1.2em;
		  border-radius: 10px;
		  border: 1px solid #dfdfdf;
		}

		.crudtree-node-text {
		  display: inline-block;
		  width: ~'calc(100% - 2em)';
		  padding: 0.7em 0.5em 0.7em 2.2em;

		  white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;

		  background-repeat: no-repeat;
		  background-size: 1.1em;
		  background-position: 0.5em center;

		}

		&.without-ico {
		  .crudtree-node-text {
			padding-left: 0.7em;
		  }
		  .crudtree-node-indicator {
			left: 0.3em;
			top: 0.65em;
		  }
		}

		&.no-childs {
		  padding-left: 0px;
		}

		&:hover {
		  cursor: pointer;
		}
		&.active {
		  .crudtree-node-text {
			color: @color-active-node-text;
		  }
		}
		&.select {
		  background: #59a3d7;
		  .crudtree-node-text {
			color: #f1f1f1;
		  }
		  .crudtree-node-indicator {
			border-color: #59a3d7;
		  }
		}
		&.child-select {
		  background: #d2d2d2;
		  .crudtree-node-text {
		  }
		  .crudtree-node-indicator {
			border-color: #d2d2d2;
		  }
		}
		&.fake-select {
		  background: #c6c6c6;
		  .crudtree-node-text {
		  }
		  .crudtree-node-indicator {
			border-color: #c6c6c6;
		  }
		}

	  }

	  .crudtree-childs {
		margin-left: 1.5em;
		margin-top: 4px;
	  }

	  .crudtree-depend-line {
		position: absolute;
		//left: 0.4em;
		width: 0.8em;
		border-left: 1px solid @color-depend-line-border;
		border-bottom: 1px solid @color-depend-line-border;
		z-index: 1;
	  }
	  .crudtree-depend-line.active-depend {
		border-color: @color-depend-line-border-active;
	  }
	  .crudtree-depend-line.active-through-depend {
		border-left-color: @color-depend-line-border-active;
	  }

	  &.zero {

		> .crudtree-node-body {
		  margin-left: 0;
		  padding-left: 1.2em;
		  .crudtree-node-text {
			background-position: 0.5em center;
			background-size: 1em;
			white-space: nowrap;
		  }
		  .crudtree-node-manage-ico {
			left: 0.4em;
		  }
		  .crudtree-node-indicator {
			left: 2.3em;
		  }
		}
		> .crudtree-childs {
		  margin-left: 1.5em;
		}
	  }

	  &.last {
		> .crudtree-node-body {
		  margin-left: 0.5em;

		  .crudtree-node-text {
		  }
		  .crudtree-node-indicator {
		  }
		}
		> .active.crudtree-node-body {
		  .crudtree-node-text {
			color: #F1F1F1;
		  }
		}
		.crudtree-depend-line {
		  width: 0.5em;
		}
	  }

	  &.last.zero {
		> .crudtree-node-body {
		  .crudtree-node-text {
		  }
		}
	  }

	}

	.crudtree-icon(@name) {
	  .crudtree-icon-@{name} {
		background-image: url("@{sub-module-img-path}/normal/@{name}.svg");
	  }
	  .select > .crudtree-icon-@{name} {
		background-image: url("@{sub-module-img-path}/select/@{name}.svg");
	  }
	  .child-select > .crudtree-icon-@{name} {
		background-image: url("@{sub-module-img-path}/child-select/@{name}.svg");
	  }
	  .fake-select > .crudtree-icon-@{name} {
		background-image: url("@{sub-module-img-path}/fake-select/@{name}.svg");
	  }
	}

	.crudtree-manage-icon(@name) {
	  .crudtree-manage-icon-@{name} {
		background-image: url("@{path-img}/@{name}.svg");
	  }
	  .active > .crudtree-manage-icon-@{name} {
		background-image: url("@{path-img}/@{name}-active.svg");
	  }
	}

	.crudtree-manage-icon(plus);
	.crudtree-manage-icon(minus);

	.crudtree-icon(super-object);
	.crudtree-icon(entrance);
	.crudtree-icon(floor);
	.crudtree-icon(object);
	.crudtree-icon(counter-energy);
	.crudtree-icon(counter-water);
	.crudtree-icon(counter-water-cold);
	.crudtree-icon(counter-water-hot);
	.crudtree-icon(counter-heat);
	.crudtree-icon(counter-gas);

	.crudtree-icon(sensor-smoke);
	.crudtree-icon(sensor-water-proof);
	.crudtree-icon(sensor-gas-proof);
	.crudtree-icon(sensor-door-proof);

	.crudtree-icon(super-counter-energy);
	.crudtree-icon(super-counter-water);
	.crudtree-icon(super-counter-heat);
	.crudtree-icon(super-counter-gas);

	.crudtree-icon(phaseA);
	.crudtree-icon(phaseB);
	.crudtree-icon(phaseC);

	.crudtree-icon(dcs);
	.crudtree-icon(uspd);

	.crudtree-icon(client-person);
	.crudtree-icon(client-org);
	.crudtree-icon(contract);
  }

  .crudtree-filter-checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 14px;
	height: 14px;
  }

  .crudtree-filter-checkbox + label {
	cursor: pointer;
  }

  .crudtree-filter-checkbox:not(checked) {
	position: absolute;
	opacity: 0;
  }

  .crudtree-filter-checkbox:not(checked) + label {
	position: relative;
	padding: 0 7px 0 21px;
  }

  .crudtree-filter-checkbox:not(checked) + label:before {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	left: 0px;
	top: -1px;
	background: #f1f1f1;
  }

  .crudtree-filter-block {
	padding-right: 5px;
	margin-bottom: 5px;
  }

  .crudtree-filter-checkbox:checked + label:before {
	/*background: #fafafa;*/
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMXB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDExIDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDExIDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIGZpbGw9IiM0RDRENEQiIHBvaW50cz0iOS45NjksMCA0LjgxMyw1Ljc1NSAwLjk4OCwyLjQ3MSAwLDMuNDYgNC45NDIsNy43MDQgMTAuOTU4LDAuOTg4ICIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position: center;
  }

  .crudtree-filter-p-name {
	display: inline-block;
  }

  .crudtree-filter-block {
	display: inline-block;
  }

  .crudtree-filters-container {
	padding: 2px 0 0 0;
	color: #404040;

  }
}